ErrorDocument 400 /
ErrorDocument 401 /
ErrorDocument 403 /
ErrorDocument 404 /
ErrorDocument 500 /
RewriteEngine ON

RewriteBase /
RewriteCond %{HTTP_HOST} !^webhostadmin.dabagroup.com$ [NC]
RewriteRule ^(.*)$ http://webhostadmin.dabagroup.com/$1 [L,R=301]
